
<form method="post" action="/auth/signup" class="form">
    <h1 class="center">Bienvenue sur Cultiv ! <br> <span class="light">Créer un compte</span></h1>
{{#if msg}}
<p class="message center bold  {{msg.status}}">{{msg.text}}</p>
{{/if}}
    <label for="pseudo">Pseudo</label>
    <input id="pseudo" name="pseudo" type="text" class="input" placeholder="culture" required value="culture">


    <label for="email">Email</label>
    <input id="email" name="email" type="email" class="input" placeholder="culture.culture@culture.com" required
        value="culture@culture.com">

    <label for="password">Mot de passe</label>
    <input id="password" name="password" type="password" class="input" placeholder="••••••" required value="1234">

    <button class="btn">Envoyer</button>
    <hr>
    <p>Déja un compte ? <a href="/auth/signin"><span class="bold">Connectez-vous !</span></a></p>
</form>

