<nav id="nav-main" class="nav">
    <a href="/" class="link padding bold">Accueil </a>
    {{#if isLoggedIn}}
<<<<<<< HEAD
    <a href="/evenements/mydashboard"> Mes Favoris</i></a>
    <a href="/auth/signout" class="link padding bold"> Se déconnecter</i></a>
=======
    <a href="/evenements/mydashboard" class="link"> Mes Favoris</i></a>
    <a href="/auth/signout" class="link"> Se déconnecter</i></a>
>>>>>>> f35bef2bb3ff532324f1080ac67964e2ca02fbc0
    {{else}}
    <a href="/auth/signin" class="link padding bold"> Se connecter</a>
    <a href="/auth/signup" class="link padding bold"> S'inscrire</i></a>
    {{/if}}
    
</nav>