<nav id="nav-main" class="nav">
    <a href="/" class="link">Accueil </a>
    {{#if isLoggedIn}}
    <a href="/evenements/mydashboard" class="link"> Mes Favoris</i></a>
    <a href="/auth/signout" class="link"> Se déconnecter</i></a>
    {{else}}
    <a href="/auth/signin" class="link"> Se connecter</a>
    <a href="/auth/signup" class="link"> S'inscrire</i></a>
    {{/if}}
    
</nav>