<nav id="nav-main" class="nav">
    <a href="/" class="link padding bold">Accueil </a>
    {{#if isLoggedIn}}
    <a href="/evenements/mydashboard"> Mes Favoris</i></a>
    <a href="/auth/signout" class="link padding bold"> Se déconnecter</i></a>
    {{else}}
    <a href="/auth/signin" class="link padding bold"> Se connecter</a>
    <a href="/auth/signup" class="link padding bold"> S'inscrire</i></a>
    {{/if}}
    
</nav>