<div id='map' style='width: 1000px; height: 700px;'></div>
<h1>Foo</h1>

<input type="checkbox" id="gratuit">
<p id="text">Gratuit</p>

<input type="checkbox" id="arrondissement75012">
<p id="text">Paris 12</p>

<ul id="titles">Titre des événements</ul>