<div id='map' style='width: 1000px; height: 700px;'></div>
<h1>Foo</h1>

First checkbox
<input type="checkbox" id="myCheck" onclick="myFunction()">
<p id="text" style="display:none">First checkbox</p>