<div id='map' style='width: 1000px; height: 700px;'></div>
<h1>Foo</h1>

<input type="checkbox" id="gratuit">
<p id="text">Gratuit</p>

<input type="checkbox" class="arrondissement" id="75012">
<p id="text">Paris 12</p>

<input type="checkbox" class="arrondissement" id="75013">
<p id="text">Paris 13</p>

<input type="checkbox" id="now" checked>
<p id="text">Now</p>

<label for="start">Date:</label>
<input type="date" id="start" name="date-choice">



<ul id="titles">Titre des événements</ul>
<ul id="date">Date de l'événement</ul>
<ul id="lien">Lien vers l'événement</ul>
<ul id="lien">Ajouter au favoris</ul>