<div class="filter">

   <div class="quand">
      <h1>Quand ? :</h1>
      <input type="checkbox" id="now" checked>
      <p id="text">Maintenant</p>
      <label for="start">Date:</label>
      <input type="datetime-local" id="start" name="date-choice" class="date">
   </div>


   <div class="arrondissements">
      <h1>Arrondissements :</h1>
      <input type="checkbox" class="arrondissement" id="75001">
      <p id="text">Paris 1</p>
      <input type="checkbox" class="arrondissement" id="75002">
      <p id="text">Paris 2</p>
      <input type="checkbox" class="arrondissement" id="75003">
      <p id="text">Paris 3</p>
      <input type="checkbox" class="arrondissement" id="75004">
      <p id="text">Paris 4</p>
      <input type="checkbox" class="arrondissement" id="75005">
      <p id="text">Paris 5</p>
      <input type="checkbox" class="arrondissement" id="75006">
      <p id="text">Paris 6</p>
      <input type="checkbox" class="arrondissement" id="75007">
      <p id="text">Paris 7</p>
      <input type="checkbox" class="arrondissement" id="75008">
      <p id="text">Paris 8</p>
      <input type="checkbox" class="arrondissement" id="75009">
      <p id="text">Paris 9</p>
      <input type="checkbox" class="arrondissement" id="75010">
      <p id="text">Paris 10</p>
      <input type="checkbox" class="arrondissement" id="75011">
      <p id="text">Paris 11</p>
      <input type="checkbox" class="arrondissement" id="75012">
      <p id="text">Paris 12</p>
      <input type="checkbox" class="arrondissement" id="75013">
      <p id="text">Paris 13</p>
      <input type="checkbox" class="arrondissement" id="75014">
      <p id="text">Paris 14</p>
      <input type="checkbox" class="arrondissement" id="75015">
      <p id="text">Paris 15</p>
      <input type="checkbox" class="arrondissement" id="75016">
      <p id="text">Paris 16</p>
      <input type="checkbox" class="arrondissement" id="75017">
      <p id="text">Paris 17</p>
      <input type="checkbox" class="arrondissement" id="75018">
      <p id="text">Paris 18</p>
      <input type="checkbox" class="arrondissement" id="75019">
      <p id="text">Paris 19</p>
      <input type="checkbox" class="arrondissement" id="75020">
      <p id="text">Paris 20</p>
   </div>

   <div class="categories">
      <h1>Catégories :</h1>

      <input type="checkbox" id="gratuit">
      <p id="text">Gratuit</p>

      <input type="checkbox" class="tags" id="cinéma">
      <p id="text">Cinéma</p>


      <input type="checkbox" class="tags" id="musique">
      <p id="text">Musique</p>

      <input type="checkbox" class="tags" id="expos">
      <p id="text">Expositions</p>

      <input type="checkbox" class="tags" id="plein air">
      <p id="text">Plein air</p>

      <input type="checkbox" class="tags" id="insolite">
      <p id="text">Insolite</p>

      <input type="checkbox" class="tags" id="sport">
      <p id="text">Sport</p>

      <input type="checkbox" class="tags" id="famille">
      <p id="text">En famille</p>

      <input type="checkbox" class="tags" id="gourmand">
      <p id="text">Gourmand</p>

      <input type="checkbox" class="tags" id="queer">
      <p id="text">Queer / LGBT</p>

      <input type="checkbox" class="tags" id="végétalisons">
      <p id="text">Environnement</p>

      <input type="checkbox" class="tags" id="geek">
      <p id="text">Geek</p>
   </div>

</div>



<div id="userFav" data-favoris={{favoris}}></div>
<div id="connexion" data-connected={{connected}}></div>


<div class="map-container">
   <div id='map'></div>
   <div id="loader"><img id="spinner-image" src="../img/spinner.png" alt=""></div>
</div>


<div class="results"><ul id="titles">Titre des événements</ul>
<ul id="date">Date de l'événement</ul>
<ul id="lien">Lien vers l'événement</ul>
<ul id="lien">Ajouter au favoris</ul></div>