 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border:1px solid red; */
}

/*---GENERAL---*/
body {
  font-family: "dosis";
  margin: 0 auto;
  height: 100vh;
}

ul, ol {
  padding-left: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#wrapper {
display: flex;

}


/*---FILTERS---*/
.filter{
  flex-direction: column;
  display: flex;
  padding: 30px;

}
/* #quand,#arrondissements,#categories{
margin-top: 20px;
} */
/* 
.row{
  display: flex;
  align-items: center;
} */

/*---MAP---*/
#map{
    height: 90vh;
    width: 60vw;
    border-radius: 30px;
    margin-top:10px;
}

.marker{
    background: url("../img/2.png");
    background-size: cover;
    height: 30px;
    width: 30px;
  }
  
.mapboxgl-popup {
    max-width: 200px;
  }
  
 .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
    max-height: 300px;
  }

.img-popup{
  max-width: 180px;
  height: auto;
}


#loader {
  position:absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  z-index:99;
  display:flex;
  justify-content: center;
  align-items: center;
}


#spinner-image{
  width: 100px;
  position:relative;

}

/* .map-container {
  width: 1000px;
  height: 700px;
} */

.map-container{
  position:relative;
}




#wrapper-filter-results{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.results{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 40vh;
  width: 40vw;
  padding: 10px;
}

#titles {
  display: flex;
  flex-direction: row;
}

#titles li {
  margin-left: 15px;
  margin-right:15px;
}


.arrondissements, .categories, .quand {
text-align: center;
}

label {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;

}