

#severalFav{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#oneFav{
    width:400px;
    height:auto;
    margin: 20px;
    text-align: center;
    background: rgba(162, 232, 245, 0.911);
    align-items: center;
    box-shadow:6px 6px 2px 1px rgba(159, 180, 194, 0.966);:
}

.marginItem{
    margin-top:5px;
    margin-bottom:5px;
} 

.image-dashboard{
    width: 100%;
    height: auto;
    margin:0; 
}

.fas{
    margin-right:5px;
}

#date-description{
    font-style: italic;
    font-weight: bold;
}
