.nav {
  font-size: 0.85rem;
}

#nav-main {
  padding: 2px 0 6px;
}

.link{
  font-size:25px;
}
.link:hover {
  color: rgb(30, 75, 105);
}

@media (max-width: 540px) {
  #nav-admin .block {
    padding: 0 5px;
  }
}
